@import url('https://fonts.googleapis.com/css?family=Lato|Quicksand');

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-image: linear-gradient(180deg, #FFFFFF, #edecef);
  background-attachment: fixed;
  font-size: 18px;
}

a {
    color: #5f4fbb;
    text-decoration: none;
}

/*************************** WRAPPER */

.portfolio__wrapper {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 6em;
}

@media screen and (min-width: 600px) {
.portfolio__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 3em;
  }
}

/*************************** ABOUT */

section.portfolio__about {
    grid-row: 5;
}

/*************************** CONTACT */

section.portfolio__contact {
    grid-row: 5;
    grid-column: 1 / 5;
    margin: 0 6em;
}

/*************************** INTRO */

.portfolio__photo {
  display: block;
  width: 11.4em;
  background: #847f7f;
  border-radius: 11em;
  height: 11.4em;
}

section.portfolio__intro {
  grid-column: 1 / 5;
  grid-template-columns: 1fr 3fr;
  display: grid;
  grid-column-gap: 1em;
  grid-row: 2;
}

.portfolio__project-detail + section.portfolio__intro {
  grid-row: 4;
}

.portfolio__blurb {
  font-size: 1.5em;
  color: #1c1b1d;
  font-family: serif;
  font-style: italic;
}

/*************************** NAV */

p.portfolio__links {
  grid-column: 2 / 5;
}

.portfolio__links ul {
  list-style-type: none;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.portfolio__links li {
    display: inline-block;
    margin-left: 3em;
    font-size: 1.2em;
    background: transparent;
    border: solid 1px #3a2d69;
    color: #3a2d69;
    padding: 1em;
    border-radius: 1px;
}

.portfolio__links li:hover {
    background: #3a2d69;
    cursor: pointer;
    color: white;
}

.portfolio__links li:first-child {
    margin-left: 0;
}

/*************************** PROJECT TEASER LIST */

h3 {
  overflow: hidden;
  font-size: 2em;
  text-align: center;
  color: #372f65c2;
}

h3:before,
h3:after {
  background-color: #372f65c2;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

h3:before {
  right: 0.5em;
  margin-left: -50%;
}

h3:after {
  left: 0.5em;
  margin-right: -50%;
}

.portfolio__projects--teaser--wrapper {
  grid-column-start: 1;
    grid-column-end: 5;
}

.portfolio__projects__list--teaser__project {
  background: transparent;
}

.portfolio__projects__list--teaser__project:hover {
  background: white;
  cursor: pointer;
}

.portfolio__projects__list--teaser__project img {
    max-width: 100%;
}


.portfolio__projects__list--teaser {
  list-style-type: none;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 600px) {
  .portfolio__projects__list--teaser {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 3em;
    grid-row-gap: 3em;
  }
}

.projects__list--teaser__project__title {
    line-height: 0;
}

.projects__list--teaser__project__text {
    padding: 1em;
}

.portfolio__projects__list--teaser__project__image-wrapper {
  position: relative;
  border-radius: 2px 2px 0 0;
  overflow: hidden;
  margin-top: 1em;
}

.projects__list--teaser__project__organization,
.projects__list--teaser__project__title,
 h4 {
  font-size: .75em;
  text-transform: uppercase;
  display: block;
  width: 100%;
  margin: 0;
  text-align: center;
  letter-spacing: 1px;
  padding: 5px 0;
  bottom: 0;
}

h4 {
  text-align: left;
}

.projects__list--teaser__project__title {
    font-size: 2em;
    line-height: 2em;
}

.projects__list--teaser__project__description {
  display: inline;
  font-family: serif;
  font-style: italic;
  font-size: 1.2em;
}

.projects__list--teaser__project__text-container {
  display: block;
}

.projects__list--teaser__project__role {
    color: #777777;
    font-size: .75em;
}

span.project__palette {
    display: block;
    background: gray;
    height: 7px;
    width: 230px;
    margin: 0 auto;
}

span.project__palette > span:first-child {
    background: black;
    width: 25%;
    display: block;
    height: 100%;
}

/*************************** HEADER */

h1 a {
  font-family: 'Quicksand', serif;
  font-size: 3em;
  letter-spacing: 1px;
  text-decoration: none;
  color: #372f65;
  font-weight: 400;
}

h1 a:hover {
  color: #776d60;
}

section.portfolio__header {
  grid-column: 2 / 5;
  border-bottom: solid 1px;
  border-color: #e0e0e0;
}

section.portfolio__header > * {
    display: inline-block;
}

/*************************** PROJECT DETAIL */


section.portfolio__project-detail {
    grid-column: 2 / 5;
    grid-row: 2 / 4;
    order: 1;
}

section.portfolio__project-detail > * + * {
    margin-top: 1.6em;
}

.portfolio__project-detail__image-wrapper {
  display: block;
}

.portfolio__project-detail__image-wrapper div {
  position: relative;
}

.portfolio__project-detail__image__caption {
    position: absolute;
    bottom: 0;
    background: black;
    color: white;
    left: 0;
    padding: 4px 8px;
    letter-spacing: .25px;
    font-size: .8em;
}

.portfolio__project-detail img {
    max-width: 100%;
}

.portfolio__project-detail__banner {
  display: block;
}

.portfolio__project-detail__blurb {
  font-family: serif;
  font-style: italic;
  font-size: 1.8em;
}

.portfolio__project-detail__techs {
  list-style-type: none;
}

.portfolio__project-detail__techs ul {
  margin: 0;
  padding: 0;
  display: inline;
  padding-left: 3px;
}

.portfolio__project-detail__techs li {
  display: inline-block;
}

.portfolio__project-detail__techs li:after {
  content: ", ";
  margin-right: 3px;
}

.portfolio__project-detail__techs li:last-child:after {
  content: "";
}


/*************************** PROJECT SIDE NAV */

aside.portfolio__projects {
  opacity: 0;
}

aside.portfolio__projects.is-expanded {
  grid-column: 1;
  grid-row: 2 / 4;
  opacity: 1;
  -webkit-transition: opacity .2s;
  border: solid 1px #372f65;
  -o-transition: opacity .2s;
  transition: opacity .2s;
}

.portfolio__projects__list {
  list-style-type: none;
  padding: 1em;
  margin: 0;
}

.portfolio__projects__list__project {
  color: #372f65;
  padding: .25em 0;
}

.portfolio__projects__list__project:hover {
  color: #6a60a7;
  transition: color .5s ease;
  cursor: pointer;
}

/**** RESUME ***/

section.portfolio__resume {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto auto;
  grid-column-gap: 1em;
  margin-top: 3em;
}

section.portfolio__resume p {
  font-size: .9em;
  margin-top: 0;
}

section.portfolio__resume h5 {
  font-size: .9em;
  margin: 0;
}

.portfolio__resume__top {
  grid-row: 1;
  grid-column: 1 / 3;
}

.portfolio__resume__column-left {
  grid-column: 1;
}

.portfolio__resume ul {
  margin-left: 0;
  padding: 0 1em;
  margin-top: 0;
}

.portfolio__resume__column-right {
  grid-column: 2;
}

.portfolio__resume__bottom {
  grid-column: 1;
  grid-row: 3;
}

.portfolio__resume span {
  display: block;
  font-weight: 600;
}
