body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.portfolio__wrapper {
  display: flex;
  flex-flow: column nowrap;
}

@media screen and (min-width: 600px) {
.portfolio__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 5em 1fr 1fr;
    grid-column-gap: 3em;
  }
}

section.portfolio__header {
  grid-column: 1 / 4;
}

section.portfolio__header > * {
    display: inline-block;
}

section.portfolio__project-detail {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    order: 1;
}

aside.portfolio__projects {
    grid-column: 1;
    grid-row: 2 / 4;
    background: gray;
}

.portfolio__project-detail__banner {
  display: block;
}
